<div class="personal-related">
	<hr>
	<h3 class="header">Персональная информация</h3>

	<div class="row">
		<div class="col-xs-12 col-md-6">

			<div class="row no-gutters">
				<div class="col-xs-10">
					<div class="form-group">
						<label for="personal-firstname">Полное настоящее имя</label>
						<br>
						{{#if areas}}
							<div id="personal-firstname" class="form-control">
								{{areas.personal-firstname}}
							</div>
						{{else}}
							<input id="personal-firstname" class="form-control" type="text" placeholder="Екатерина">
						{{/if}}
					</div>

				</div>

				<div class="col-xs-2">
					<div class="form-group">
						<label for="personal-age">Возраст</label>
						<br>
						{{#if areas}}
							<div id="personal-age" class="form-control">
								{{areas.personal-age}}
							</div>
						{{else}}
							<select id="personal-age" class="form-control">
								<option value="not-selected" selected="selected">...</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								<option value="31">31</option>
								<option value="32">32</option>
								<option value="33">33</option>
								<option value="34">34</option>
								<option value="35">35</option>
								<option value="36">36</option>
								<option value="37">37</option>
								<option value="38">38</option>
								<option value="39">39</option>
								<option value="40">40</option>
								<option value="41">41</option>
								<option value="42">42</option>
								<option value="43">43</option>
								<option value="44">44</option>
								<option value="45">45</option>
								<option value="46">46</option>
								<option value="47">47</option>
								<option value="48">48</option>
								<option value="49">49</option>
								<option value="50">50</option>
								<option value="51">51</option>
								<option value="52">52</option>
								<option value="53">53</option>
								<option value="54">54</option>
								<option value="55">55</option>
								<option value="56">56</option>
								<option value="57">57</option>
								<option value="58">58</option>
								<option value="59">59</option>
							</select>
						{{/if}}
					</div>
				</div>

				<div class="col-xs-12">
					<div class="form-group">
						<label for="personal-location">Страна и город проживания</label>
						<br>
						{{#if areas}}
							<div id="personal-location" class="form-control">
								{{areas.personal-location}}
							</div>
						{{else}}
							<input id="personal-location" class="form-control" type="text" placeholder="Россия, Москва">
						{{/if}}
					</div>
				</div>
			</div>

		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="personal-aboutme">Расскажите немного о себе</label>
				{{#if areas}}
					<div id="personal-aboutme" class="form-control">
						{{areas.personal-aboutme}}
					</div>
				{{else}}
					<textarea id="personal-aboutme" class="form-control" rows="5" placeholder="Чем живёте? Чего достигли? К чему стремитесь?"></textarea>
				{{/if}}
			</div>
		</div>

	</div>

	<hr>
	<h3 class="header">Контактная информация</h3>

	<div class="row">

		<div class="col-xs-12 col-sm-6">
			<div class="form-group">
				<label for="contact-skype">Skype</label>
				<br>
				{{#if areas}}
					<div id="contact-skype" class="form-control">
						{{#fill areas.contact-skype}}{{/fill}}
					</div>
				{{else}}
					<input id="contact-skype" class="form-control" type="text" placeholder="myskypelogin">
				{{/if}}
			</div>
		</div>

		<div class="col-xs-12 col-sm-6">
			<div class="form-group">
				<label for="contact-social-club">Профиль Social Club</label>
				<br>
				{{#if areas}}
					<div id="contact-social-club" class="form-control">
						{{#makeLink areas.contact-social-club}}{{/makeLink}}
					</div>
				{{else}}
					<input id="contact-social-club" class="form-control" type="text" placeholder="http://socialclub.rockstargames.com/member/*****">
				{{/if}}
			</div>
		</div>

		<div class="col-xs-12 col-sm-6">
			<div class="form-group">
				<label for="contact-steam">Steam</label>
				<br>
				{{#if areas}}
					<div id="contact-steam" class="form-control">
						{{#makeLink areas.contact-steam}}{{/makeLink}}
					</div>
				{{else}}
					<input id="contact-steam" class="form-control" type="text" placeholder="http://steamcommunity.com/id/*****">
				{{/if}}
			</div>
		</div>

		<div class="col-xs-12 col-sm-6">
			<div class="form-group">
				<label for="contact-4game">Профиль на форуме 4Game</label>
				<br>
				{{#if areas}}
					<div id="contact-4game" class="form-control">
						{{#makeLink areas.contact-4game}}{{/makeLink}}
					</div>
				{{else}}
					<input id="contact-4game" class="form-control" type="text" placeholder="https://4gameforum.com/members/1234567">
				{{/if}}
			</div>
		</div>

		<div class="col-xs-12 col-sm-6">
			<div class="form-group">
				<label for="contact-vk">ВКонтакте</label>
				<br>
				{{#if areas}}
					<div id="contact-vk" class="form-control">
						{{#makeLink areas.contact-vk}}{{/makeLink}}
					</div>
				{{else}}
					<input id="contact-vk" class="form-control" type="text" placeholder="https://vk.com/****">
				{{/if}}
			</div>
		</div>

		<div class="col-xs-12 col-sm-6">
			<div class="form-group">
				<label for="contact-gamersfirst">Профиль на форуме GamersFirst</label>
				<br>
				{{#if areas}}
					<div id="contact-gamersfirst" class="form-control">
						{{#makeLink areas.contact-gamersfirst}}{{/makeLink}}
					</div>
				{{else}}
					<input id="contact-gamersfirst" class="form-control" type="text" placeholder="http://uploads.forums.gamersfirst.com/user/1234567-*****">
				{{/if}}
			</div>
		</div>
	</div>

</div>
